[submodule "config/kitty/gruvbox-material-kitty"]
	path = config/kitty/gruvbox-material-kitty
	url = git@github.com:rsaihe/gruvbox-material-kitty.git
[submodule "config/kitty/0d5731693084b2831c88ca23936d20e8"]
	path = config/kitty/gruvbox
	url = git@gist.github.com:0d5731693084b2831c88ca23936d20e8.git
