# $ ls and Friends {{{

if (( $+commands[exa] )); then
  alias l='exa -G'
  alias la='exa -al'
  alias ll='exa -l --color always'
  alias lt='exa --tree --level=2 --color always'
elif (( $+commands[lsd] )); then
  alias l='lsd -Al --date=relative --group-dirs=first --blocks=permission,user,size,date,name -I=.DS_Store'
  alias ll='lsd -l --date=relative --group-dirs=first --blocks=permission,user,size,date,name -I=.DS_Store'
  alias lt='lsd --tree --depth=2 --date=relative --group-dirs=first -I=.DS_Store'
else
  alias l='ls -alh'
  alias ll='ls -lh'
fi

# END $ ls and Friends }}}

# Editors {{{

alias vi='nvim'
alias vim='nvim'
alias vimdiff='nvim -d'
alias xcode='open -a Xcode'

# END Editors }}}

# SSH {{{

if [[ $TERM == "xterm-kitty" ]]; then
  alias ssh="kitty +kitten ssh"
fi

# END SSH }}}

# Verbosity {{{

alias rm='rm -i'
alias mv='mv -i'
alias cp='cp -i'

# }}}

# K8s {{{

alias kx='kubectx'
alias kn='kubens'

# }}}

# $ ETC {{{

alias sudo='sudo '

# }}}
